*{
    background-color: rgb(252, 246, 235);

}
.cajaLogin{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}

form{
   margin-top: 1vh;
}

.m{
    margin-bottom: -1vh;
    margin-top: 2vh;
    border-radius: 20%;
}

.logom{
    width: 80px;
}

input, select{
    width: 40vw;
    height: 4vh;
    margin-top:4vh ;
    border: none;
    border-bottom: solid 3px rgb(255, 166, 0);
}

#registro_Enviar{
    width: 35vw;
    margin-top: 3vh;
    margin-left: 2vw;
}

label{
   display: none;
}

footer{
    position: absolute;
    bottom: 0;
}
